@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/global.css");
@import url("layout/grid.css");
@import url("layout/sidebar.css");
@import url("layout/header.css");
@import url("layout/footer.css");
@import url("components/buttons.css");
@import url("components/card.css");
@import url("components/modal.css");
@import url("components/form.css");
@import url("components/badges.css");
@import url("components/filters.css");
@import url("pages/dashboard.css");
@import url("pages/nueva-orden.css");
